<div class="row">
    <div class="column-one-second">
        <div style="padding-right: 12px;">
            <div class="topan-section-shadow">
                <h4><%=_('change_headimage')%></h4>
                <p><input type="file" id="headimage-input" accept="image/*"></input></p>
                <img id="headimage-preview" src="/user/<%=uid%>/headimage" style="border-radius: 50%; width: 100px; height: 100px;">
                <p><button id="headimage-confirm" class="topan-button-emphasize topan-button-default"><%=_('confirm')%></button></p>
            </div>
        </div>
    </div>
    <div class="column-one-second">
        <div style="padding-left: 12px;">
            <div class="topan-section-shadow">
                <h4><%=_('change_password')%></h4>
                <p><input placeholder="<%=_('old_password')%>" type="password" id="password-old"></input></p>
                <p><input placeholder="<%=_('new_password')%>" type="password" id="password-new"></input></p>
                <p><input placeholder="<%=_('repeat_password')%>" type="password" id="password-repeat"></input></p>
                <p style="color: red;" id="changepassword-error"></p>
                <p style="color: green;" id="changepassword-message"></p>
                <p><button id="password-confirm" class="topan-button-emphasize topan-button-default"><%=_('confirm')%></button></p>
            </div>
        </div>
    </div>
</div>