<script>
    $(document).ready(()=>{
        $("#user-login").click(()=>{
            $.post("/login/try",
                {
                    name: $('#login-name').val(),
                    password: $('#login-password').val()
                },
                (data,status)=>{
                    if(data.error!=undefined)$('#login-error').text(data.error);
                    else location.pathname="";
                }
            );
        });
        $("#user-register").click(()=>{
            location.pathname="/register";
        });
    });
</script>

<div style="text-align: center;">
    <br><br>
    <h2 style="letter-spacing: 1px;"><%=_('login')%></h2>
    <br>
    <p><input placeholder="<%=_('login_username')%>" type="text" id="login-name"></input></p>
    <p><input placeholder="<%=_('login_password')%>" type="password" id="login-password"></input></p>
    <p style="color: red;" id="login-error"></p>
    <br>
    <p>
        <button id="user-register" class="topan-button-commonly topan-button-default"><%=_('register')%></button>
        &nbsp;
        <button id="user-login" class="topan-button-emphasize topan-button-default"><%=_('login')%></button>
    </p>
    <br>
</div>