<blockquote class="topan-blockquote-warning">
    <p><%=_('pk_guest_warning')%></p>
</blockquote>
<div class="topan-tab">
    <ul>
        <li class="topan-tab-showed"><%=_('join_pkroom')%></li>
        <li><%=_('search_pkroom')%></li>
    </ul>
    <div class="topan-tab-showed">
        <div class="topan-section-shadow">
            <p><%=_('join_tip_guess')%></p>
            <p>
                <input type="text" placeholder="<%=_('pk_code')%>" style="width: 200px;"></input>
                <button id="join-query" class="topan-button-emphasize topan-button-default"><%=_('join_query')%></button>
            </p>
        </div>
    </div>
    <div>
        <div class="topan-section-shadow">
            <p><button id="search-pkroom" class="topan-button-emphasize topan-button-default"><%=_('search_pkroom_refresh')%></button></p>
        </div>
    </div>
</div>