.row:after{
    clear: both;
}
.row:before,.row:after{
    content: " ";
    display: table;
}
.row{
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}
.column-one-fifth{
    width: 20%;
    float: left;
}
.column-four-fifth{
    width: 80%;
    float: left;
}
.column-one-thirth{
    width: 33.3333333%;
    float: left;
}

.pk-statuscard{
    line-height: 8px;
    text-align: center;
}

.hide{
    display: none;
}